html
    head
        title Look Inna Book BookStore
        include ./adminHeader.pug
    body
        h1 Add a Book To The Store
        form(action='/addbook' method='post')
            p Please fill in this form to add a book to the store
            br
            h3 Book Information
            br
            .form-row
                .form-group.col-md-6
                    label(for='book_name') Book Name
                    input#book_name.form-control(type='text' placeholder='Somehow I Manage' maxlength='100' name="book_name" required)
                .form-group.col-md-6
                    label(for='authors') Author(s) Name(s) Comma Seperated
                    input#authors.form-control(type='text' placeholder='Michael Scott,Art Vandelay' name="authors" maxlength='100' required)
                .form-group.col-md-6
                    label(for='isbn') Book ISBN
                    input#isbn.form-control(type='text' placeholder='1234567891' name="isbn" maxlength='13' required)
                .form-group.col-md-6
                    label(for='price') Book Price
                    input#price.form-control(type='text' placeholder='17.99' name="price" required)
                .form-group.col-md-6
                    label(for='genre') Genre
                    input#genre.form-control(type='text' placeholder='Comedy' name="genre" maxlength='15' required)
                .form-group.col-md-6
                    label(for='pages') Number of Pages
                    input#pages.form-control(type='text' placeholder='356' name="pages" required)
                .form-group.col-md-6
                    label(for='description') (Optional, Max 500 Characters) Book Description
                    input#description.form-control(type='text' name="description" maxlength='500')
                .form-group.col-md-6
                    label(for='cover_image') (Optional) Link to Book Cover Image
                    input#cover_image.form-control(type='text' name="cover_image" maxlength='500')
                .form-group.col-md-6
                    label(for='publisher_percent') Publisher Sales Tax Percent 
                    input#publisher_percent.form-control(type='number' value='1' min='1' max='100' name="publisher_percent" required)  
            h3 Publisher Information
            br 
            .form-row
                .form-group.col-md-6
                    label(for='publisher_name') Name of Publisher 
                    input#publisher_name.form-control(type='text' placeholder='Owl Books' name="publisher_name" maxlength='50' required)
                .form-group.col-md-6
                    label(for='publisher_address') Publisher Street Number and Name
                    input#publisher_street_name.form-control(type='text' placeholder='9 Derby Ln.' name="publisher_street_name" maxlength='30' required)
                .form-group.col-md-6
                    label(for='publisher_office') Office Number (Optional)
                    input#publisher_office.form-control(type='text' placeholder='Floor 2' name="publisher_office" maxlength='20')
                .form-group.col-md-6
                    label(for='publisher_city') Publisher City
                    input#publisher_city.form-control(type='text' placeholder='Sarnia' name="publisher_city" maxlength='30' required)
                .form-group.col-md-6
                    label(for='publisher_province') Publisher Province
                    input#publisher_province.form-control(type='text' placeholder='Ontario' name="publisher_province" maxlength='30' required)
                .form-group.col-md-6
                    label(for='publisher_country') Publisher Country
                    input#publisher_country.form-control(type='text' placeholder='Canada' name="publisher_country" maxlength='30' required)
                .form-group.col-md-6
                    label(for='publisher_post') Publisher Postal Code
                    input#publisher_post.form-control(type='text' placeholder='N84-2W3' name="publisher_post" maxlength='7' required)
                .form-group.col-md-6
                    label(for='publisher_email') Publisher Email 
                    input#publisher_email.form-control(type='email' placeholder='hello@goodbye.com' name="publisher_email" maxlength='50' required)
                .form-group.col-md-6
                    label(for='publisher_phone') Publisher Phone Number(s) (Comma Seperated) 
                    input#publisher_phone.form-control(type='text' placeholder='123-456-7891,987-654-3211' name="publisher_phone" maxlength='52' required)
                .form-group.col-md-6
                    label(for='publisher_account') Publisher Bank Account Number 
                    input#publisher_account.form-control(type='text' placeholder='123444' name="publisher_account" maxlength='9' required)
            button.btn.btn-primary(type='submit') Add Book 
        if success && success == 'false'
            h3 Sorry, unable to add book to the store.
        else if success && success == 'true'          
            h3 Book successfully added!