html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body

        .container-fluid
            .row
                .col-sm-2
                    p Search Books
                    form.form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='search' placeholder='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                    br
                    select.form-select(aria-label='Author')
                        option(selected='') Select an Author
                        option(value='1') One
                        option(value='2') Two
                        option(value='3') Three

                .col-sm-10(id="two" class="book_holder" style="display:flex; flex-wrap:wrap;")
                    each book in books
                        .card(style='width: 18rem;')
                            img.card-img-top(src='/images/open-book.png' alt=`${book.name}`)
                            .card-body
                                h5.card-title #{book.name}
                                p.card-text
                                    | Author(s): #{book.author}
                                a.btn.btn-primary(href=`/books/${book.isbn}`) View Book