html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body
        if userName
            h4 Successful Login
            h3 You are now logged in as #{userName}
        else
            h4 Failed login
            h3 Sorry that username or password was incorrect.Please try to login again.