html
	head
		title Look Inna Book BookStore
		include ./header.pug
	body
		div(style="background-image: url(/images/bookstore_background.jpg); background-size: 100%; width: 100%; height: 100%; align-items: center;")
			div.text-center(style='padding-top:300px')
				h1.mb-3.text-center.text-light(style='background-color:black;') Look Inna Book Book Store
				br
				br
				a.mx-auto(href="/books" role='button' class='btn btn-info') Enter the Store