html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body 
        form(action='/register' method='post')
            .container
                h1 Register
                p Please fill in this form to create an account
                hr
                label(for='first_name')
                    b First Name
                input#first_name(type='text' placeholder='Enter First Name' name='first_name' required='')
                label(for='last_name')
                    b Last Name
                input#last_name(type='text' placeholder='Enter Last Name' name='last_name' required='')
                label(for='email')
                    b Email
                input#email(type='text' placeholder='Enter Email' name='email' required='')
                label(for='user_name')
                    b Username
                input#user_pass(type='text' placeholder='Enter username' name='user_name' required='')
                label(for='user_pass')
                    b Password
                input#user_pass(type='password' placeholder='Enter Password' name='user_pass' required='')
                hr
                button(type="submit")="Submit"
            .container.signin
                p
                    | Already have an account? 
                    a(href='/signin') Sign in
                    | .