html
    head
        title Look Inna Book BookStore
        include ./adminHeader.pug
    body
        h1 Remove a Book From The Store
        form(action='/removebook' method='post')
            p Please fill in the Book ISBN of the book you wish to remove 
            .form-row
                .form-group.col-md-6
                    label(for='isbn') Book ISBN
                    input#isbn.form-control(type='text' placeholder='123-456789' name="isbn" required)   
                button.btn.btn-primary(type='submit') Remove Book
        
        if success && success == 'false'
            h3 Sorry, unable to remove the book from the store
        else if success && success == 'true'          
            h3 Book successfully removed!
        br
        br
        h3 Current Book Statuses
        table.table
            thead
                tr
                    th(scope='col' style='width: 30%;') ISBN
                    th(scope='col' style='width: 40%;') Book Name
                    th(scope='col' style='width: 30%;') Is Removed?
            tbody
                for book in books
                    tr
                        td #{book.isbn}                                
                        td #{book.name}
                        td #{book.is_removed}